<h1>{{title}}</h1>
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">E mail</th>
        <th scope="col">Edit & Delete</th>
      </tr>
    </thead>
    <tbody>
     
      <tr  *ngFor="let data of obj">
      
        <th scope="row">1</th>
        {{data.name}}
        <th>
          {{data.email}}
        </th>
        <th >
          <button type="button" class="btn btn-success">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </th>
      </tr>
     
    </tbody>
  </table> -->

  <app-users></app-users>

 <app-footer></app-footer>